body {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
}


h1 {
    font-size: 2.5em;
    width: 75vw;
}

input {
    width: 18em;
    margin-top: 1em;
    height: 2.5em;
    border-radius: 8px;
    border: none;
    padding: 0 .8em;
}

input:focus {
    outline: none;
    border: 2px solid darkred;
    box-shadow: 0 0 6px rgba(139, 0, 0, 0.6);
}


button {
    margin: 2em;
    font-size: 1em;
    padding: 1em 2.5em;
    background-color: darkred;
    border-radius: 16px;
    color: white;
    border: none;
}